body {
    background-color: #ffffff;
    font-family: 'Alata', sans-serif;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
    display: block;
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}
header img{
    width: 50%;
}
header nav {
    margin:0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;   
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}
nav ul li {
    position: relative;
}
header nav a {
    color: #ff9900;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}
header nav a:hover {
    background-color: #ddd;
    color: #a46302;
}
header .active {
    background-color: #ddd;
}

.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}
.hamburger-lines .line {
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 10px;
  background: #ff9900;
}
.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;
  top: 16x;
  right: 16px;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}

.intro{
    background-image: linear-gradient(350deg, #BFE8FF, #FFF6C8, #ffe1bd, #C3E7FF);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)inset;
}
.intro_testo{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 0px 20px 0px;
}
.intro h1{
    color: #ff9900;
    font-size: 54px;
    margin: 0;
}
.intro h3{
    color: #ff9900;
    font-size: 24px;
    margin: 0 0 10px 0;
}

.titolo{
    margin-top: 30px;
}
.titolo h2 {
    color: #ff9900;
    margin: 0;
    padding: 20px 10px;
}

.grid {
    margin: 10px auto;        
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-bottom: 10px;
}

.evidenza{
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 20px rgba(37, 37, 37, 0.4);
    margin-bottom: 20px;
}
.evidenza:hover {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
}
.evidenza img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.citta{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(37, 37, 37, 0.4);
    margin-bottom: 20px;
}
.citta:hover {
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.4);
}
.citta img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.citta p{
    color: #ff9900;
    padding-left: 15px;
    font-size: 24px;
}

.grid p{
    color: #ff9900;
    padding-left: 15px;
    font-size: 24px;
}

.grid div a{
    text-decoration: none;
}

.chisiamotitolo{
    text-align: center;
    color: #ff9900;
    font-size: 24px;
    margin-top: 150px;
}
.chisiamo{
    font-size: 18px;
    gap: 16px;
    margin-bottom: 80px;
    color: #545454;
    text-align: center;
    margin: auto;
}

/*città*/
.intro2 {
    background-image: linear-gradient(350deg, #BFE8FF, #FFF6C8, #ffe1bd, #C3E7FF);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)inset;
}
.intro2 h1{
    color: #ff9900;
    font-size: 54px;
    margin: 0;
}
.intro2 h3{
    color: #ff9900;
    font-size: 32px;
    margin: 0 0 10px 0;
}

.descrizione{
    display: flex;
    gap: 16px;
    background-color: #f9f9f9;
    margin-bottom: 60px;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 20px rgba(37, 37, 37, 0.4);
    height: auto;
}
.descrizione .img{
    border-radius: 10px 0px 0px 10px;
    width: 40%;
    object-fit: cover;
}
.descrizione p{
    color: #545454;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}
/*--*/

/*piatti*/
.titolo3{
    padding-top: 20px;
    color: #ff9900;
}
.ingredienti ul { 
    color: #545454;
    margin: 0;
    padding-top: 10px;
    gap: 10px;
    font-size: 18px;
    padding-right: 15px;
    padding-bottom: 20px;
}
.preparazione p{
    font-size: 18px;
    color: #545454;
}
/*--*/

/*storia*/
.storia{
    margin-top: 50px;
}
.testo_uno{
    display: flex;
    gap: 18px;
}
.testo_uno img{
    max-width: 65%;
}
.storia p{
    font-size: 18px;
    color: #545454;
    padding-left: 10px;
    padding-right: 10px;
}
.testo_due p{
    padding-right: 20px;
}
/*--*/

footer {
    color: #EDFAFF;
    padding-top: 120px ;
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    justify-content: space-between;
    align-items: center;
}

.imgf{
    display: flex;
    gap: 16px; 
}
.imgs{
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}

footer p, footer a{
    text-decoration: none;
    font-size: 20px;
    color: #ff9900;
    text-align: center;
}


@media screen and (max-width:  800px) {
    main{
        margin: 15px;
    }
    /*nav*/
    .checkbox {
        display: block;
    }
    header nav ul {
        gap: 10px;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: #ffffff;
        width: 100%;
        height: 500px;
        justify-content: center;
        text-align: center;
    }
    input[type="checkbox"]:checked ~ nav ul {
        opacity: 100;
    }
    .hamburger-lines {
        opacity: 100;
    }
    header nav ul li {
        margin-top: 15px;
        display: block;
    }
    .submenu {
        width: 100%;
        display: block;
        position: relative;
        padding: 10px 0;
        margin: 0;
    }
    header img{
        width: 80%;
    }
    /*--*/

    .intro_testo{
        max-width: 1200px;
        padding: 20px;
    }
    .intro h1{
        color: #ff9900;
        font-size: 34px;
    }
    .intro h3{
        color: #ff9900;
        font-size: 18px;
    }

    .titolo{
        margin-top: 60px;
    }

    .titolo h2 {
        color: #ff9900;
        margin: 0;
        padding: 20px 10px;
        text-align: center;
    }

    .grid {
        margin: 10px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        padding-bottom: 20px;
    }

    .chisiamotitolo{
        text-align: center;
        color: #ff9900;
        font-size: 20px;
        margin-top: 120px;
    }
    .chisiamo{
        font-size: 16px;
        gap: 16px;
        margin-bottom: 80px;
        color: #545454;
        margin: auto;
    }

    /*città*/
    .intro2{
        background-image: linear-gradient(350deg, #BFE8FF, #FFF6C8, #ffe1bd, #C3E7FF);
        height: 120px;
        text-align: center;
    }
    .intro2 h1{
        color: #ff9900;
        font-size: 38px;
    }
    .intro2 h3{
        color: #ff9900;
        font-size: 20px;
    }

    .descrizione{
        display: grid;
        gap: 20px;
        background-color: #f9f9f9;
        margin-bottom: 80px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 20px rgba(37, 37, 37, 0.4);
        height: auto;
    }
    .descrizione .img{
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        object-fit: cover;
    }
    .descrizione p{
        padding-right: 10px;
        font-size: 14px;
    }
    /* */

    /*piatti*/
    .ingredienti ul { 
        color: #545454;
        margin: 0;
        padding-top: 10px;
        gap: 10px;
        font-size: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    .preparazione p{
        font-size: 15px;
        color: #545454;
    }
    /*--*/

    /*storia*/
    .storia{
        margin-top: 50px;
    }
    .testo_uno{
        display: grid;
        gap: 14px;
    }
    .testo_uno img{
        max-width: 50%;
        margin: 0 auto
    }
    .storia p{
        font-size: 14px;
        color: #545454;
        padding-left: 20px;
        padding-right: 20px;
    }
    /*--*/

    footer {
        color: #EDFAFF;
        padding-top: 100px ;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 40px auto;
        align-items: center;
    }
}